@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    Bạn Không CÓ Quyền Truy Cập Trang Này
    </div>
</body>
</html>
