
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    LỖi Không CÓ Quyền
}
<div class="alert alert-danger">
    Bạn Không CÓ Quyền Truy Cập Trang Này
</div>

